version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    networks:
      - app-net
      - db-net

  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    networks:
      - db-net

  inngest:
    image: inngest/inngest:latest
    command: 'inngest dev -u http://app:3000/api/inngest'
    networks:
      - app-net

volumes:
  postgres-data:

networks:
  app-net:
    driver: bridge
  db-net:
    driver: bridge
